@import "vars";

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix {
  &:before, &:after {
    content: '';
    display: table;
    width: 100%;
    height: 0;
    clear: both;
  }
}

.overflow-hidden {
  overflow: hidden;
}

ul.no_list {
  margin: 0;
  padding: 0;
  li{
    list-style: none;

  }
}

h1, .h1 {
  font-size: 47px;
  color: $gray;
  margin: 20px 0;
}