//palette
$secondary_color: #7f888f;
$primary_color: #f56a6a;
$error_color: #d22f25;
$warning_color: #ff952f;
$success_color: #3eba2b;

//main colors
$body_bg: #fafbfd;
$font_color: #676d79;

//colors
$white_gray: #f5f6f7;
$gray: #3d4449;
$light_gray: rgba(210, 215, 217, 0.75);
$primary_color_hove: #B85B5B;
$black: #000;

//settings
$body_font_size: 13px;